{% extends 'base.html' %}
{% block titles %}Home|SmartLibrary{% endblock %}
{% block styles %}
<style type="text/css">
    h1{
        color: rgb(174, 28, 28);
    }
    #f1{
        margin: auto; width: 40%;
    }
    #b1{
        margin-left: 200px;
        background-color: rgba(48, 2, 101, 0.814); 
        color: white;
    }
</style>
{% endblock %}
{% block container %}
<h1> UPLOAD BOOKS </h1>
<form action="" method="POST" enctype="multipart/form-data" id="f1">
    {% csrf_token %}
    <table >
        {% for i in upbk %}
        <tr>
            <th>{{i.label}}</th>
            <td>{{i}}</td>
        </tr>
        {% endfor %}
    </table>

    <input type="submit" id="b1">

</form>

{% endblock %}